:root {
    --font-header: 'Raleway', sans-serif;
    --font-para: 'Open Sans', sans-serif;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-grey: #A5A5A5;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --font-size-para: 16px 22px;
}

* {
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 1352px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 70px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 3px 6px #F7F7F7;
}

.logo {
    font-family: var(--font-header);
    color: var(--color-primary);
    font-size: 32px;
    line-height: 37px;
    font-weight: 300;
}
.nav-header {
    font-family: var(--font-header);
    height: 100%;
    width: 40%;
}
.nav-list {
    display: flex;
    height: 100%;
    justify-content: space-between;
    font-family: var(--font-para);
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.nav-list-link {
    display: flex;
    align-items: center;
    color: var(--color-grey);
    height: 100%;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

.nav-list-link:hover {
    color: #000;
    cursor: pointer;
    border-bottom: 4px solid #08A6E4;
}

.open-section {
    flex-direction: column;
    justify-content: normal;
    height: 712px;
    font-family: var(--font-para);
    color: var(--color-black);
    font-size: 16px;
    line-height: 22px;
    background-image: url('../assets/Background.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.open-section-title {
    text-transform: capitalize;
    justify-content: center;
    margin-top: 130px;
    font-family: var(--font-header);
    font-size: 49px;
    line-height: 57px;

}

.open-section > p {
    padding-top: 20px;
}

.open-section-button {
    background-color: var(--color-primary);
    margin-top: 38px;
    font-weight: 700;
    text-decoration: none;
    padding: 22px 150px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    color: var(--color-white);

}




